<% provide(:title, 'Reportes de Analisis RSD') %>
<h2>Reportes de Analisis RSD</h2>

<div>
  <%= link_to "General", analisis_rsd_reporte_general_path(0) %> | 
  <%= link_to "Histograma", analisis_rsd_reporte_histograma_path(0) %> |
  <%= link_to "Por agencia", analisis_rsd_reporte_por_agencia_path %> | 
  <%= link_to "Mapas", analisis_rsd_reporte_mapas_path(0) %>
</div>

