<link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="http://cdn.oesmith.co.uk/morris-0.4.3.min.js"></script>


<% provide(:title, 'Reportes de Analisis RSD') %>
<h2>Reportes de Analisis RSD</h2>

<div>
  <%= link_to "General", analisis_rsd_reporte_general_path(0) %> | 
  <%= link_to "Histograma", analisis_rsd_reporte_histograma_path(0) %> |
  <%= link_to "Por agencia", analisis_rsd_reporte_por_agencia_path %> | 
  <%= link_to "Mapas", analisis_rsd_reporte_mapas_path(0) %>
</div>

