<% provide(:title, 'Edición de Análisis RSD') %>
<blockquote>
  <h2>Edición Análisis RSD</h2>
  <h2><small><%= @analisis_rsd.identificacion %></small></h2>
</blockquote>

<%= render 'form' %>

<%= link_to 'Mostrar', @analisis_rsd %> |
<%= link_to 'Listado Análisis RSD', analisis_rsds_path %>
