<% provide(:title, 'Edición de Análisis RSD') %>
<h2>Edición de Análisis RSD</h2>

<%= render 'form' %>

<%= link_to 'Mostrar', @analisis_rsd %> |
<%= link_to 'Listado Análisis RSD', analisis_rsds_path %>
