<% provide(:title, 'Edición de Variedad de Caña de Azúcar') %>
<h2>Edición de Variedad de Caña</h2>

<%= render 'form' %>

<%= link_to 'Mostrar', @cania_variedad %> |
<%= link_to 'Listado de Variedades de Caña de Azúcar', cania_variedades_path %>
