<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      <h4><%= I18n.t('errors.messages.not_saved', count: object.errors.count, resource: object.class.model_name.human.downcase) %></h4>
      <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
  </div>
<% end %>
