<% provide(:title, 'Nuevo Rol') %>
<h2>Nuevo Rol</h2>
<p class="muted">
  Perfiles implementados:</br>
  <%= Profile.clases_derivadas %>
</p>

<%= render 'form' %>

<%= link_to 'Listado de roles', roles_path %>
