<% provide(:title, 'Edición Análisis Prezafra') %>
<blockquote>
  <h2>Edición Análisis Prezafra</h2>
  <h2><small><%= @analisis_prezafra.identificacion %></small></h2>
</blockquote>

<%= render current_user.has_role?(:laboratorista) ? "form_edit_laboratorista" : "form" %>

<%= link_to 'Mostrar', @analisis_prezafra %> |
<%= link_to 'Listado Análisis Prezafra', analisis_prezafras_path %>
