<% provide(:title, 'Listado Análisis Prezafra')%>
<h2>Listado Análisis Prezafra</h2>

<table id='analisis_prezafras' class="table table-striped table-condensed" data-source="<%= analisis_prezafras_url(format: "json") %>">
<thead>
  <tr>
    <th></th>
    <th>ID</th>
    <th>Fecha inicio</th>
    <th>Fecha extracción</th>
    <th>Fecha ingreso</th>
    <th>Fecha análisis</th>
    <th>Productor</th>
    <th>Agente</th>
    <th>Promotor</th>
    <th>Laboratorista</th>
    <th>Variedad</th>
    <th>Brix(%)</th>
    <th>Lectura polar</th>
    <th>RTO(%)</th>
    <th>Estado</th>
    <%= mostrar_editar_borrar_headers AnalisisPrezafra %>
  </tr>
</thead>
<tbody>
</tbody>
</table>

<br />

<%= link_to 'Nuevo Análisis Prezafra', new_analisis_prezafra_path %>
