<div class="container">
  <footer class="footer">
    <small>
      <a href="http://inta.gob.ar/"> INTA</a> Instituto Nacional de Tecnología Agropecuaria
    </small>
    <nav>
      <ul>
        <li><%= link_to "Acerca", '#' %></li>
        <li><%= link_to "Contacto", '#' %></li>
      </ul>
    </nav>
  </footer>
</div>