<header class="navbar navbar-fixed-top">
  <div class="container">
    <%= link_to "INTA-Famaillá", '#', id: "logo" %>
    <nav>
      <ul class="nav pull-right">
        <li><%= link_to "Inicio", '#' %></li>
        <li><%= link_to "Ayuda", '#' %></li>
        <li><%= link_to "Entrar", '#' %></li>
      </ul>
    </nav>
  </div>
</header>