<h1>Acerca</h1>
<p>
 La construcción de este sitio esta a cargo del área de sistema constituida por los consultores bajo el
 convenio UCAR-INTA. Su objetivo es potenciar el desarrollo de las actividades relevantes para las personas dependiente del INTA que trabajan en el proyecto PROICSA.
</p>